html, body {
    width: 420mm;
    height: 297mm;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    margin:auto;
}
#the-canvas {
    border: 1px solid black;
    direction: ltr;
  }